*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-mono);
  color: var(--text-color);
  background-color: #000103;
  line-height: 1.6;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(10, 17, 40, 0.8);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(44, 62, 80, 0.5);
  z-index: 100;
  transition: background-color 0.3s ease;
}

main {
  padding-top: 100px;
  flex-grow: 1;
}
@keyframes twinkle-stars {
  0% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}
footer {
  border-top: 1px solid var(--border-color);
  border-bottom: none;
  text-align: center;
  margin-top: auto;
}

.stars {
  background: #000 url('../images/background/YKY28eT.png') repeat top center;
  z-index: 0;
  opacity: 1;
  animation: twinkle-stars 4s ease-in-out infinite;
}

.twinkling {
  background: transparent url('../images/background/XYMF4ca.png') repeat top center;
  z-index: 1;
  animation: move-twink-back 200s linear infinite;
}
